################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/Exhibition/v15
/Agents/Console/obj
/Agents/Exhibition/obj
/Exhibition.Core/obj
/Agents/Exhibition/bin/Debug
/Agents/Console/bin/Debug
/packages/Newtonsoft.Json.12.0.1
/Exhibition.Core/bin/Debug
/.vs
