<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="newtonsoftJsonBehavior" type="Exhibition.Core.NewtonsoftJsonBehaviorElement, Exhibition.Core"/>

      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json" faultExceptionEnabled="true"/>
          <newtonsoftJsonBehavior/>
          <!--<enableWebScript/>-->
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="operationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="restWebHttpBinding" crossDomainScriptAccessEnabled="true" contentTypeMapper="Exhibition.Core.NewtonsoftJsonContentTypeMapper,Exhibition.Core">
          <security mode="None">
            <transport clientCredentialType="None"></transport>
          </security>
        </binding>
        
      </webHttpBinding>
      
    </bindings>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="Exhibition.Core.Services.OperationService" behaviorConfiguration="operationServiceBehavior">        
        <!--<endpoint address=""
                  binding="webHttpBinding"
                  bindingConfiguration="restWebHttpBinding"
                  behaviorConfiguration="web"
                  contract="Exhibition.Core.IOperationService"/>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/api/OperationService"/>
          </baseAddresses>
        </host>

      </service>
    </services>
  </system.serviceModel>
</configuration>
