<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="calculatorServieBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <services>
      <service name="Exhibition.Core.Services.OperationService" behaviorConfiguration="calculatorServieBehavior">
        <endpoint address ="" binding="basicHttpBinding" contract="Exhibition.Core.IOperationService" />        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8888/api/OperationService" />
            
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>
